<!DOCTYPE html>

<html>
<head>
  <title>Restaurant Chatbot</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>
<body background="{{ url_for('static', filename='images/bg_dark.jpg') }}">
<div class="container">
  <br><br><br><br>
  <h1 style="color: white; text-align: center;">Restaurant Chatbot</h1>
  <div id="successAlert" style="display:none; text-align: center; color: white;"></div>
  <div id="errorAlert" style="display:none; text-align: center; color: white;"></div>
  <form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="nameInput">Name</label>
      <input style="margin-left: 250%" type="text" class="form-control" id="nameInput" placeholder="Ask me anything!">
    </div>
    <button style="margin-left: 40%" type="submit" class="btn btn-default">Submit</button>
  </form>
  <br>
</div>
</body>
</html>